
form{
    margin:200px 400px;
    padding:40px 100px 40px 60px;
    border:2px solid #54B04D;
    background-color: #C0C0C0;
}
input
{
    height:20px;
    width: 150px;
    margin-left: 29%;
    border-radius: 5px;
    border-color: #54B04D;
    margin-top:10px;
    
    
}
label,small
{
    margin-left:28%;
}
button
{
    background-color: lightblue;
    margin-left: 80px;
    height:30px;
    border-radius: 5px;
    width:140px;
}